button {
  background-color: rgba(186, 136, 233, 0.2);
  color: white;
  padding: 10px 15px;
  border: solid rgba(186, 136, 233, 0.5);
  border-radius: 25px;
}

button:hover {
  background-color: rgba(37, 36, 66, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 40px;
  width: 100%;
  /* padding-right: 100px; */
  /* padding-left: 100px; */
}

.tablinks {
  border-radius: 10px 10px 0 0;
  border: 1px solid white;
}

.tabcontent > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabcontent > div > input {
  /* float: right; */
  width: 250px;
}
.tab button:hover {
  background-color: #063d6a;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #063d6a;
}

input {
  border-radius: 20px;
  padding: 5px;
  color: white;
  border: solid rgba(186, 136, 233, 0.5) 2px;
  background-color: rgba(186, 136, 233, 0.2);
}

input::placeholder {
  color: white;
  opacity: 0.7;
}
